<%= render 'styles' %>
<%= render 'scripts' %>

<%= render 'search' %>
<% if flash[:fatalerror].nil? %>
    <!--<div class="row">-->
    <%= render 'edit' %>
    <%= render 'newlist' %>
    <!--</div>-->
<% end %>
