
<div class="row" style="height: 100%;">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
      <div class="row" >
        <div class="col-md-12" style="border-bottom: 1px solid #ddd; border-radius: 3px; text-align: center;">
          <img src="../images/wiptimelogonew.png">
        </div>
      </div>
      <div class="row" style="margin-top: 10px;" >
        <div class="col-md-12" style="text-align: right;">
          <%= @localData['version'] %> <%= @version %><BR />
          <%= @localData['release_date'] %> <%= @release_date %><BR />
          <%= @localData['instance'] %> <%= @instance %><BR />
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
          <%= link_to "www.wiptime.com", "http://www.wiptime.com", :target => "_blank", :style=>"float: left;" %>
          <%= link_to "info@wiptime.com", "mailto:info@wiptime.com", :style=>"float: right;" %>
        </div>
      </div>

    </div>
  </div>
</div>

