<div class="cleared reset-box"></div>
<div class="art-bar art-nav">
  <div class="art-nav-outer">
    <div class="art-nav-wrapper">
      <div class="art-nav-inner">
        <ul class="art-hmenu">
          <li>
            <%= link_to 'Home', site_index_path, :id => 'site_index' %>
          </li>
          <li>
            <%= link_to 'Products', products_path, :id => 'products' %>
          </li>
          <li>
            <%= link_to 'Partners', partners_path, :id => 'partners' %>
          </li>
          <li>
            <%= link_to 'About Us', about_us_path, :id => 'about_us' %>
          </li>
          <li>
            <%= link_to 'Contact Us', contact_us_path, :id => 'contact_us' %>
          </li>
          <li>
            <%= link_to 'WIPTime Web', wiptime_web_path, :id => 'wiptime_web' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="cleared reset-box"></div>
<div class="art-header">
  <div class="art-header-position">
    <div class="art-header-wrapper">
      <div class="cleared reset-box"></div>
      <div class="art-header-inner">
        <div class="art-headerobject"></div>
        <div class="art-logo">
          <h1 class="art-logo-name">WIPTIME MANAGER</h1>
          <h2 class="art-logo-text">manage your time well, work faster</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cleared reset-box"></div>